img
{
    width:350px;
}
body
{
    text-align : center ;
    font-family : "serif";
    background: black;
    color: red;
}
head
{

font-family :"Verdana" ;
color : white

}
/* unvisited link */
a:link {
  color: #FF0000;
}

/* visited link */
a:visited {
  color: #00FF00;
}

/* mouse over link */
a:hover {
  color: #FF00FF;
}

/* selected link */
a:active {
  color: #0000FF;
}
